<p>Please give us your Helplist email, and we'll send you a new password.</p>
<%= form_for @adie, url: add_adie_path do |f|%>
    <div class='field'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
<% end %>