<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset Password</h1>
    <p>
      Hello, <%= @adie['name'] %>.
    <p>
      I'm sorry you've forgotten your password!
    </p>
    <p>
      Here's a new one: <%= @password %>. Feel free to continue to use this (it's secure!) or change your password as soon as you log in.
    </p>
    <p>
      Thanks!
    </p>
  </body>
</html>