<div class='ui two column divided grid'>
  <div class='row'>
    <div class='column'>
      <h3>Are you an Adie?</h3>
        <%= render 'adies' %>
    </div>
  </div>
    <div class='column'>
      <h3> Are you a TA? </h3>
      <%= render 'tas' %>
    </div>
  </div>
</div>