.header {
  font-size: 31px;
  height: 50px;
  text-align: center;
  font-variant: small-caps;
}

.container {
  width: 600px;
  margin: 50px auto;
}

body {
  font-family: "Lucida sans unicode"; 
}

table {
  border: 2px solid black;
  border-spacing: 0;
}


td {
  border: 1px solid black;
  padding: 10px;
}

th {
  border: 1px solid black;
  border-bottom: 3px solid black;
  padding: 10px;
  background-color: #D8F6CE;
}

h2 {
  font-family: "Lucida sans unicode";
  color: white;
  padding: 5px; 
  font-size: 20px;
  background: linear-gradient(to right, #0B3B17, transparent);
}

h3 {
  position: relative;
  font-size: 25px;  
  font-variant: small-caps;
  text-align: center;
}

.problem { 
  font-size: 190%;
}
.problem:hover {
  cursor: pointer;
}

.button_to {
  text-align: center;
}

td .helped:hover {
  cursor: pointer;
}

.relax {
  margin: 10px;
  padding: 10px;
  font-size: 150%;
}

.relax .cats:hover {
  cursor: pointer;
}

.navbar {
  
}