<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset Password</h1>
    <p>
      Hello, <%= @adie['name'] %>.
    <p>
      Welcome to the helplist. You can log in <%= link_to "here", root_path %>
    </p>
    <p>
      Here's your current password: <%= @password %>. Feel free to continue to use this (it's secure!) or change it as soon as you log in.
    </p>
    <p>
      Thanks!
    </p>
  </body>
</html>