<!DOCTYPE html>
<html>
<head>
  <title>HelpLine</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='header'>
    Adies Wait Line
  </div>

<div class='container'>
<%= yield %>
</div>
</body>
</html>
